*
    font-family: 'Roboto', sans-serif
@import blocks/menu
@import blocks/buttons
@import blocks/slider
@import blocks/about
body
    padding-bottom: 60px
    background-image: url(../../bg/bg_test.jpg) 