*
    font-family: 'Roboto', sans-serif
    box-sizing: border-box
@import blocks/menu
@import blocks/buttons
@import blocks/slider
@import blocks/about
@import blocks/therapy
@import blocks/zoo
@import blocks/contacs

body
    padding-bottom: 60px
    background-image: url(../bg/bg_test.jpg) 