.about
    margin-top: 180px
    &__cards
        display: grid
        grid-template-columns: repeat(3, 380px)
        grid-gap:20px
    &__header
        justify-content: space-between
    &__title
        width: 260px
        font-weight: 900
        font-size: 60px
        color: rgb(0, 0, 77)
        margin-top: -16px
        text-align: center
        margin: 0 auto       
    &__descr
        //width: 800px
        font-size: 20px
        font-weight: 400
        margin: 0 auto
        text-align: center 
        line-height: 38px 
    &-item
        width: 380px
        min-height:390px
        
        overflow: hidden       
        &__wrapper
            margin-top: 50px
            width: calc(200% + 40px)
            display: flex
            
        &__content
            width: 50%
            margin-left: 10px
            transform: translateX(-105%)
            &__title
                margin-top: 10px
                text-align: left
            &_active
                transform: translateX(0%)
        &__list
            width: 49%
            margin-left: 10px
            transform: translateX(0%)
            transition: 0.5s
            &_active
                transform: translateX(-105%)
            &__link
                color: black
                &:hover
                    text-decoration: none
                    color: black
        &__image
            width: 92%
            display: block
            //border-radius: 25px
                