.about
    margin-top: 100px
    &_btns
        height:100px
    &__cards
        margin-top: 30px
        .slick-prev
            outline: none
            border: 0
            background: transparent
            position: absolute
            left: -130px
            top: 250px
            img
                width: 120px
                height: 60px
        .slick-next
            outline: none
            border: 0
            background: transparent
            position: absolute
            top: 250px
            right: -130px
            img
                width: 120px
                height: 60px    
    &__header
        justify-content: space-between
    &__title
        width: 260px
        font-weight: 900
        font-size: $tFt
        color: $ScdColor
        margin-top: -16px
        text-align: left
        text-transform: uppercase
        span
            color: $FstColor
    &__descr
        //width: 800px
        font-size: $dFt
        font-weight: 900
        margin: 0 auto
        text-align: left
        line-height: 38px 
        img
            float: left
            width: 512px
            height: 612px
    &-item
        width: 380px
        min-height: 390px
        
        overflow: hidden       
        &__wrapper
            width: calc(200% + 40px)
            display: flex
            
        &__content
            width: 50%
            margin-left: 10px
            transform: translateX(-105%)
            transition: 0.5s
            &__title
                margin-top: 10px
                text-align: center
                font-size: $dFt
                font-weight: 900
                text-transform: uppercase

            &_active
                transform: translateX(0%)
        &__list
            padding: 40px
            width: 50%
            margin-left: 10px
            transform: translateX(0%)
            transition: 0.5s
            line-height: 30px
            text-align: left
            font-weight: 900
            font-size: $dFt
            &_active
                transform: translateX(-105%)
            &__link
                color: black
                &:hover
                    text-decoration: none
                    color: black
        &__image
            display: block
            border-radius: 25px
            width: 350px
            height: 490px
            img
                width:100%
                