.contacs
    margin-top: 120px
    min-height: 500px
    &__title
        text-transform: uppercase 
        font-size: $tFt
        color: $FstColor
        font-weight: 900
        span
            color: $ScdColor
        
    &__link
        text-decoration: none
        color: black
        //display: block
        &:hover
            text-decoration: none
            color: black 
    &__wrapper
        display: grid
        grid-template-columns: 357px 150px 500px
        grid-template-rows: repeat(2,1fr)
        grid-auto-rows: minmax(100px, auto)
        gap: 20px
        margin-top: 20px
    &__social
        grid-column: 2/3
        grid-row: 2/3     
    &__socIcons
        width: 35px
        height: 35px
        margin-top: 10px         
        img
            width: 100%
        &:first-child
            margin-top: 0px 
    &__adress
        grid-column: 1/2
        grid-row: 2/3                 
    &__city
        width: 236px
        height: 66px
        font-weight: 900
        font-size: $dFt
    &__phoneNumbers
        margin-top: 50px
        a
            display: block
            color: black
            font-weight: 900
            font-size: $dFt
            &:hover
                text-decoration: none 
                color: black
    &-form
        grid-column: 2/4
        grid-row: 1/4
        margin-left: 200px
        margin-top: 20px
        display: flex
        flex-direction: column
        align-items: center
        text-align: left
        &__title
            font-size: $dFt
            font-weight: 900
            text-transform: uppercase
            color: $ScdColor
        &__name
            width: 387px
            height: 40px
            border-radius: 10px
            border: 1px solid $ScdColor
            font-size: $dFt
            font-weight: 900
            margin-top: 24px
            background: #f7dda8
            color: $ScdColor
        &__phoneNumber
            width: 387px
            height: 40px
            border-radius: 10px
            border: 1px solid $ScdColor
            font-size: $dFt
            font-weight: 900
            margin-top: 24px
            background: #f7dda8
            color: $ScdColor
        &__descr
            width: 387px
            height: 169px
            border-radius: 10px
            border: 1px solid $ScdColor
            font-size: $dFt
            font-weight: 900
            margin-top: 24px
            background: #f7dda8
            color: $ScdColor
        &__btn
            margin-top: 25px
            width: 250px
            height: 46px
            font-size: $dFt
            &:hover
                width: 270px
                height: 66px
                font-size: $dFt 



      

