.navbar
    &__wrapper
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-top: 27px
    &__title
        margin-top: 15px
        font-size: 17px
        font-weight: 900
        color: #00004D

    &__logo
        height: 68px
        width: 68px
        img
            width: 100%
    &__menu
        list-style-type: none  
        margin-top: 15px
        li
            display: inline
            margin-left: 15px
            font-size: 18px
            font-weight: 900
        a
            color: black
            &:hover                
                text-decoration: none            