.therapy
    min: height 300px
    margin-top: 170px
    &__upImage
        float: right
    &__downImage
        float: left
    &__descr
        font-weight: 900
        font-size: 20px
    &__title
        text-transform: uppercase 
        font-size: 60px
        color: #00004D
        font-weight: 900
        span
            color: #996600


