.zoo
    min-height: 300px
    margin-top: 120px
    &__text
        display: flex
        justify-content: space-between
    &__title
        text-transform: uppercase 
        width: 700px
        font-size: 60px
        color: #00004D
        font-weight: 900
        span
            color: #996600
    &__descr
        font-weight: 900
        font-size: 20px
        width: 700px
        //margin-top: 100px
        margin-left: 30px
        //line-height: 50px
    &__wrapper
        display: flex
        flex-direction: row
        flex-wrap: wrap       
        justify-content: center
    &__upImage
        width: 681px
        height: 774px
        margin-left: 32px
        img
            width:100%
            display: block
    &__midlleImage
        width: 788px
        height: 837px
        img
            width:100%
            display: block
    &__downImage
        width: 681px
        height: 774px
        img
            display: block
            width:100%
        